body {
	font-family: serif;
	background-color: whitesmoke;
}
h1 {
	text-align: center;
	border: 3px ridge black;
	border-radius: 7px;
	margin: 5px 150px;
	padding: 10px 5px;
	background: #506f83;
	font-weight: 500;
	color: black;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

footer {
	text-align: center;
	margin: 10px;
}

select {
	width: 40%;
	display: flex;
	margin: 10px 5px;
	padding: 10px;
	border-radius: 8px;
	background: #143642;
	color: whitesmoke;
	font-family: serif;
}

small {
	font-size: 20px;
	opacity: 0.6;
}

.container a {
	display: block;
	margin: auto;
	padding: 5px;
	text-decoration: none;
	color: black;
	text-align: center;
}

.container {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid #144173;
	max-width: 600px;
	background: #506f83;
	border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.city-info {
	background: #143642;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	border-radius: 8px;
	padding: 3px 8px;
	color: whitesmoke;
}

.city-info h2 {
	margin: 0;
	font-weight: 600;
}

.time {
	font-size: 30px;
	width: 28%;
	height: 100%;
}
.date {
	opacity: 0.6;
}
